@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');

table.preview, table.edit {
    border-collapse: collapse;
    background-color: whitesmoke;
    margin: 0 auto;
}

table.preview {
    display: inline;
    margin: 3px;
}
table.preview td {
    border: none;
    width: 3px;
    height: 3px;
    padding: 0;
}
table.edit td {
    border: 1px solid lightgray;
    width: 20px;
    height: 20px;
    padding: 0;
}
#ingame {
    display: none;
}

body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #1e1e1e;
    color: whitesmoke;
    font-family: 'Pixelify Sans', cursive;
}
button {
    all: unset;
    background-color: lime;
    color: #1e1e1e;
    margin: 10px;
    padding: 10px;
    width: 10%;
    border-radius: 5px;
    transition: 0.2s;
}

button:hover {
    background-color: green;
    width: 20%;
    transition: 0.3s;
}

details {
    margin-top: 30px;
}

input {
    border-radius: 5px;
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 0px;
}

button#return {
    background-color: rgb(233, 172, 172);
}